html{
  text-align: justify;
}

emp{
  font-style: italic;
  color: #C45911;
  font-weight: bold;
}

iframe {
  width: 960px;
  height: 550px;
}



.i18n-link.i18n-link-found.i18n-link-fr {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.i18n-link.i18n-link-found.i18n-link-en {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
